@media screen and (max-width: 600px) {
    body {
        background-image: linear-gradient(to right, hotpink, purple);
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: space-around;
        grid-gap: 1rem;
        margin-top: 3em;
      }
      
.features {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: space-around;
    grid-gap: 1rem;
  }
  
.photo-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 1px;
    margin: 20px;
  }
  .grid-image {
    width: 100px;
    height: 50px;
  }
}